<!--<h1>Hello World!</h1>-->
<!--<%= current_user %>-->
<!DOCTYPE html>
<html lang="en">
	<%#= render 'layouts/header' %>
	<%= render 'layouts/header', categories: @categories%>
	<body>
		<div id="home">
	  <div class="headerLine">
		<div id="menuF" class="default">
			<div class="container">
				<div class="row">
					<div class="logo col-md-4">
						<div>
							<a href="#">
								<img src="assets/logo.png">
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
			<div class="container">
				<div class="row wrap">
					<div class="col-md-12 gallery">
							<div class="camera_wrap camera_white_skin" id="camera_wrap_1">
								<div data-thumb="" data-src="assets/slides/blank.gif">
									<div class="img-responsive camera_caption fadeFromBottom">
										<h2>We listen.</h2>
									</div>
								</div>
								<div data-thumb="" data-src="assets/slides/blank.gif">
									<div class="img-responsive camera_caption fadeFromBottom">
										<h2>We discuss.</h2>
									</div>
								</div>
								<div data-thumb="" data-src="assets/slides/blank.gif">
									<div class="img-responsive camera_caption fadeFromBottom">
										<h2>We develop.</h2>
									</div>
								</div>
							</div><!-- #camera_wrap_1 -->
					</div>
				</div>
			</div>
		</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4 project">
						<h3 id="counter">0</h3>
						<h4>Awesome Projects</h4>
						<p>Dolor sit amet, consectetur adipiscing elit quisque tempus eget diam et lorem a laoreet phasellus ut nisi id leo molestie. </p>
					</div>
					<div class="col-md-4 project">
						<h3 id="counter1">0</h3>
						<h4>Happy Customers</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus eget diam et. laoreet phasellus ut nisi id leo.  </p>
					</div>
					<div class="col-md-4 project">
						<h3 id="counter2" style="margin-left: 20px;">0</h3>
						<h4 style="margin-left: 20px;">Professional Awards</h4>
						<p>Consectetur adipiscing elit quisque tempus eget diam et laoreet phasellus ut nisi id leo molestie adipiscing vitae a vel. </p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 cBusiness">
						<h3>The Best Way to Create Business Site &ndash; Attractive One Page</h3>
						<h4>Discover elegant solution for your online business fast, reliable, affordable.</h4>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 centPic">
						<img class="img-responsive"  src="assets/bizPic.png"/>
					</div>
				</div>
			</div>
	    </div>

	    <!--about start-->

	    <div id="about">
	    	<div class="line2">
				<div class="container">
					<div class="row Fresh">
						<div class="col-md-4 Des">
							<i class="fa fa-heart"></i>

							<p>Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor. feugiat </p>
						</div>
						<div class="col-md-4 Ver">
							<i class="fa fa-cog"></i>
							<h4>Very Flexible</h4>
							<p>Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor. feugiat </p>
						</div>
						<div class="col-md-4 Fully">
							<i class="fa fa-tablet"></i>
							<h4>Fully Responsive</h4>
							<p>Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor. feugiat </p>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 wwa">
						<span name="about" ></span>
						<h3>Who We Are? Meet Our Team!</h3>
						<h4>We listen, we discuss, we advise and develop. We love to learn and use the latest technologies.</h4>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row team">
					<div class="col-md-4 b1">
							<img class="img-responsive" src="assets/picTeam/picT1.png">
							<h4>Tom Simpson</h4>
							<h5>CEO</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <br/>quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" ></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
							</ul>
					</div>


					<div class="col-md-4">
							<img class="img-responsive" src="assets/picTeam/picT2.png">
							<h4>John Doe</h4>
							<h5>Project Manager</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br/> quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" ></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
							</ul>
					</div>


					<div class="col-md-4 b3">
							<img class="img-responsive" src="assets/picTeam/picT3.png">
							<h4>Anna White</h4>
							<h5>Developer</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br/> quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" ></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
							</ul>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 hr1">
						<hr/>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3 bar">
						<div class="progB chart" data-percent="64"  data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="64">
								  <span class="percent">64</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>WordPress</h3>
							<p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>
						</div>
					</div>
					<div class="col-md-3 bar">
						<div class="progB chart" data-percent="22"  data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="22">
								  <span class="percent">22</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>HTML5</h3>
							<p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>
						</div>
					</div>
					<div class="col-md-3 bar ">
						<div class="progB chart" data-percent="84"  data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="22">
								  <span class="percent">84</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>CSS3</h3>
							<p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>
						</div>
					</div>
					<div class="col-md-3 bar ">
						<div class="progB chart" data-percent="45"  data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="45">
								  <span class="percent">45</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>Woocommerce</h3>
							<p>Nulla consectetur ornare nibh, a auctor <br/>mauris scelerisque eu proin nec urna quis. </p>
						</div>
					</div>
				</div>
			</div>


			<div class="container">
				<div class="row aboutUs">
					<div class="col-md-12 ">
						<h3>What Our Customers Say About Us?</h3>
					</div>
				</div>
			</div>

			<div style="position: relative;">

				<div class="container">
					<div class="row about">
						<div class="col-md-6">
							<div class="about1">
							<img class="pic1Ab" src="assets/picAbout/aboutP1.png">
								<h3>Anna Smith, Company Inc.</h3>
								<p>Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis. aliquam, nulla nisi lobortis elit ac.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="about2">
							<img class="pic2Ab" src="assets/picAbout/aboutP2.png">
								<h3>John Doe, Company Inc.</h3>
								<p>Consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo, adipiscing auctor, ut auctor feugiat fermentum nec quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, ac luctus.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="horL"></div>

				<div class="container">
					<div class="row about">
						<div class="col-md-6">
							<div class="about1">
							<img class="pic1Ab" src="assets/picAbout/aboutP3.png">
								<h3>Tom Sawyer, Company Inc.</h3>
								<p>A auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, acnterdum ante feugiat vitae.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="about2">
							<img class="pic2Ab" src="assets/picAbout/aboutP4.png">
								<h3>Sarah White, Company Inc.</h3>
								<p>Ornare nibh a auctor, mauris scelerisque eu proin nec urna nec a quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra felis et venenatis aliquam, nulla nisi lobortis elit, ac eleifend nisl ante nec lorem. </p>
							</div>
						</div>
					</div>
				</div>

			</div>
	    </div>
	    <!--project start-->
	    <div id="project">
			<div class="line3">
				<div class="container">
					<div id="project1" ></div>
					<div class="row Ama">
						<div class="col-md-12">
						<span name="projects" id="projectss"></span>
						<h3>Our Amazing Works</h3>
						<p>Right here we've got something you gonna love</p>
						</div>
					</div>
				</div>
			</div>


	       <div class="container">

			<div class="row">
				<!-- filter_block -->
					<div id="options" class="col-md-12" style="text-align: center;">
						<ul id="filter" class="option-set" data-option-key="filter">
							<li><a class="selected" href="#filter" data-option-value="*" class="current">All Works</a></li>
							<li><a href="#filter" data-option-value=".polygraphy">Polygraphy</a></li>
							<li><a href="#filter" data-option-value=".branding">Branding</a></li>
							<li><a href="#filter" data-option-value=".web">Web UI</a></li>
							<li><a href="#filter" data-option-value=".text_styles">Text Styles</a></li>
						</ul>
					</div><!-- //filter_block -->



				<div class="portfolio_block columns3   pretty" data-animated="fadeIn">
						<div class="element col-sm-4   gall branding">
							<a class="plS" href="assets/prettyPhotoImages/pic1.jpg" rel="prettyPhoto[gallery2]">
								<img class="img-responsive picsGall" src="assets/prettyPhotoImages/thumb_pic1.jpg" alt="pic1 Gallery"/>
							</a>
							<div class="view project_descr ">
								<h3><a href="#">Recycled Paper - Business Card Mock Up</a></h3>
								<ul>
									<li><i class="fa fa-eye"></i>215</li>
									<li><a class="heart" href="#"><i class="fa-heart-o"></i>14</a></li>
								</ul>
							</div>
						</div>
						<div class="element col-sm-4  gall branding">
							<a class="plS" href="assets/prettyPhotoImages/pic2.jpg" rel="prettyPhoto[gallery2]">
								<img class="img-responsive picsGall" src="assets/prettyPhotoImages/thumb_pic2.jpg" alt="pic2 Gallery"/>
							</a>
							<div class="view project_descr center">
								<h3><a href="#">Environment Logos Set</a></h3>
								<ul>
									<li><i class="fa fa-eye"></i>369</li>
									<li><a  class="heart" href="#"><i class="fa-heart-o"></i>86</a></li>
								</ul>
							</div>
						</div>
						<div class="element col-sm-4  gall web">
							<a class="plS" href="assets/prettyPhotoImages/pic3.jpg" rel="prettyPhoto[gallery2]">
								<img class="img-responsive picsGall" src="assets/prettyPhotoImages/thumb_pic3.jpg" alt="pic3 Gallery"/>
							</a>
							<div class="view project_descr ">
								<h3><a href="#">Beag Simple WEB UI</a></h3>
								<ul>
									<li><i class="fa fa-eye"></i>400</li>
									<li><a  class="heart" href="#"><i class="fa-heart-o"></i>124</a></li>
								</ul>
							</div>
						</div>



						<div class="element col-sm-4  gall  text_styles">
							<a class="plS" href="assets/prettyPhotoImages/pic4.jpg" rel="prettyPhoto[gallery2]">
								<img class="img-responsive picsGall" src="assets/prettyPhotoImages/thumb_pic4.jpg" alt="pic1 Gallery"/>
							</a>
							<div class="view project_descr ">
								<h3><a href="#">Pop Candy Text Effect</a></h3>
								<ul>
									<li><i class="fa fa-eye"></i>480</li>
									<li><a  class="heart" href="#"><i class="fa-heart-o"></i>95</a></li>
								</ul>
							</div>
						</div>
						<div class="element col-sm-4  gall  web">
							<a class="plS" href="assets/prettyPhotoImages/pic5.jpg" rel="prettyPhoto[gallery2]">
								<img class="img-responsive picsGall" src="assets/prettyPhotoImages/thumb_pic5.jpg" alt="pic1 Gallery"/>
							</a>
							<div class="view project_descr center">
								<h3><a href="#">User Interface Elements</a></h3>
								<ul>
									<li><i class="fa fa-eye"></i>215</li>
									<li><a  class="heart" href="#"><i class="fa-heart-o"></i>14</a></li>
								</ul>
							</div>
						</div>
						<div class="element col-sm-4  gall  polygraphy">
							<a class="plS" href="assets/prettyPhotoImages/pic6.jpg" rel="prettyPhoto[gallery2]">
								<img class="img-responsive picsGall" src="assets/prettyPhotoImages/thumb_pic6.jpg" alt="pic1 Gallery"/>
							</a>
							<div class="view project_descr ">
								<h3><a href="#">Stationery Branding Mock Up</a></h3>
								<ul>
									<li><i class="fa fa-eye"></i>375</li>
									<li><a  class="heart" href="#"><i class="fa-heart-o"></i>102</a></li>
								</ul>
							</div>
						</div>
						<div class="element col-sm-4   gall branding">
							<a class="plS" href="assets/prettyPhotoImages/pic7.jpg" rel="prettyPhoto[gallery2]">
								<img class="img-responsive picsGall" src="assets/prettyPhotoImages/thumb_pic7.jpg" alt="pic1 Gallery"/>
							</a>
							<div class="view project_descr ">
								<h3><a href="#">Darko - Business Card Mock Up</a></h3>
								<ul>
									<li><i class="fa fa-eye"></i>440</li>
									<li><a  class="heart" href="#"><i class="fa-heart-o"></i>35</a></li>
								</ul>
							</div>
						</div>

						<div class="element col-sm-4  gall text_styles">
							<a class="plS" href="assets/prettyPhotoImages/pic8.jpg" rel="prettyPhoto[gallery2]">
								<img class="img-responsive picsGall" src="assets/prettyPhotoImages/thumb_pic8.jpg" alt="pic1 Gallery"/>
							</a>
							<div class="view project_descr ">
								<h3><a href="#">Foil Mini Badges</a></h3>
								<ul>
									<li><i class="fa fa-eye"></i>512</li>
									<li><a  class="heart" href="#"><i class="fa-heart-o"></i>36</a></li>
								</ul>
							</div>
						</div>

						<div class="element col-sm-4  gall polygraphy">
							<a class="plS" href="assets/prettyPhotoImages/pic9.jpg" rel="prettyPhoto[gallery2]">
								<img class="img-responsive picsGall" src="assets/prettyPhotoImages/thumb_pic9.jpg" alt="pic1 Gallery"/>
							</a>
							<div class="view project_descr ">
								<h3><a href="#">Woody Poster Text Effect</a></h3>
								<ul>
									<li><i class="fa fa-eye"></i>693</li>
									<li><a  class="heart" href="#"><i class="fa-heart-o"></i>204</a></li>
								</ul>
							</div>
						</div>
				</div>



						<div class="col-md-12 cBtn  lb" style="text-align: center;">
							<ul class="load_more_cont ">
								<li class="dowbload btn_load_more">
									<a href="javascript:void(0);" >
										<i class="fa fa-arrow-down"></i>Load More Projects
									</a>
								</li>
								<li class="buy">
									<a href="#">
										<i class="fa fa-shopping-cart"></i>Buy on Themeforest
									</a>
								</li>
							</ul>
						</div>

			</div>


			</div>
	    </div>

	    <!--news start-->

	    <div id="news">
	    	<div class="line4">
				<div class="container">
					<div class="row Ama">
						<div class="col-md-12">
						<h3>What&rsquo;s New?</h3>
						<p>Get the latest news from our blog</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
					<div class="row news">
						<div class="col-md-6  text-left">
						<img class="img-responsive picsGall" src="assets/picNews/news1.jpg"/>
						<h3><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
						<ul>
							<li><i class="fa fa-calendar"></i>April 25, 2014</li>
							<li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
							<li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
						<hr class="hrNews">
						</div>
						<div class="col-md-6 text-right">
						<img class="img-responsive picsGall" src="assets/picNews/news2.jpg"/>
						<h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
						<ul>
							<li><i class="fa fa-calendar"></i>April 25, 2014</li>
							<li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
							<li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
						<hr class="hrNews">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row news2 news">
						<div class="col-md-6 text-left">
						<img class="img-responsive picsGall" src="assets/picNews/news3.jpg"/>
						<h3><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
						<ul>
							<li><i class="fa fa-calendar"></i>April 25, 2014</li>
							<li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
							<li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
						<hr class="hrNews">
						</div>
						<div class="col-md-6 text-right">
						<img class="img-responsive picsGall" src="assets/picNews/news4.jpg"/>
						<h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
						<ul>
							<li><i class="fa fa-calendar"></i>April 25, 2014</li>
							<li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
							<li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
						<hr class="hrNews">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row news2 news">
						<div class="col-md-6 text-left">
						<img class="img-responsive picsGall" src="assets/picNews/news5.jpg"/>
						<h3 ><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
						<ul>
							<li><i class="fa fa-calendar"></i>April 25, 2014</li>
							<li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
							<li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
						<hr class="hrNews">
						</div>
						<div class="col-md-6 text-right">
						<img class="img-responsive picsGall" src="assets/picNews/news6.jpg"/>
						<h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
						<ul>
							<li><i class="fa fa-calendar"></i>April 25, 2014</li>
							<li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
							<li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
						<hr class="hrNews">
						</div>
					</div>
				</div>



				<div class="container hideObj2" style="display:none;">
					<div class="row news2 news">
						<div class="col-md-6 text-right">
						<img class="img-responsive picsGall" src="assets/picNews/news6.jpg"/>
						<h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
						<ul>
							<li><i class="fa fa-calendar"></i>April 25, 2014</li>
							<li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
							<li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
						<hr class="hrNews">
						</div>
						<div class="col-md-6 text-left">
						<img class="img-responsive picsGall" src="assets/picNews/news5.jpg"/>
						<h3 ><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
						<ul>
							<li><i class="fa fa-calendar"></i>April 25, 2014</li>
							<li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
							<li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
						<hr class="hrNews">
						</div>
					</div>
				</div>
				<div class="container">
				<div class="row cBtn">
					<div class="col-md-12" style="text-align: center; margin-bottom: -90px; z-index: 10;">
						<ul class="mNews">
							<li class="dowbload bhide2"><a href="#"><i class="fa fa-arrow-down"></i>Load More news</a></li>
						</ul>
					</div>
				</div>
			</div>
	    </div>


	    <!--contact start-->

	    <div id="contact">
	    	<div class="line5">
				<div class="container">
					<div class="row Ama">
						<div class="col-md-12">
						<h3>Got a Question? We&rsquo;re Here to Help!</h3>
						<p>Get in touch with us</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-xs-12 forma">
						<form>
							<input type="text" class="col-md-6 col-xs-12 name" name='name' placeholder='Name *'/>
							<input type="text" class="col-md-6 col-xs-12 Email" name='Email' placeholder='Email *'/>
							<input type="text" class="col-md-12 col-xs-12 Subject" name='Subject' placeholder='Subject'/>
							<textarea type="text" class="col-md-12 col-xs-12 Message" name='Message' placeholder='Message *'></textarea>
							<div class="cBtn col-xs-12">
								<ul>
									<li class="clear"><a href="#"><i class="fa fa-times"></i>clear form</a></li>
									<li class="send"><a href="#"><i class="fa fa-share"></i>Send Message</a></li>
								</ul>
							</div>
						</form>
					</div>
					<div class="col-md-3 col-xs-12 cont">
						<ul>
							<li><i class="fa fa-home"></i>5512 Lorem Ipsum Vestibulum 666/13</li>
							<li><i class="fa fa-phone"></i>+1 800 789 50 12, +1 800 450 6935</li>
							<li><a href="#"><i class="fa fa-envelope"></i>mail@compname.com</li></a>
							<li><i class="fa fa-skype"></i>compname</li>
							<li><a href="#"><i class="fa fa-twitter"></i>Twitter</li></a>
							<li><a href="#"><i class="fa fa-facebook-square"></i>Facebook</li></a>
							<li><a href="#"><i class="fa fa-dribbble"></i>Dribbble</li></a>
							<li><a href="#"><i class="fa fa-flickr"></i>Flickr</li></a>
							<li><a href="#"><i class="fa fa-youtube-play"></i>YouTube</li></a>
						</ul>
					</div>
				</div>
			</div>
			<div class="line6">
						<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d48386.401887313725!2d-73.9407136!3d40.7147117!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1402409149092" width="100%" height="750" frameborder="0" style="border:0"></iframe>
			</div>
			<div class="container">
				<div class="row ftext">
					<div class="col-md-12">
					<a id="features"></a>
					<h3>We Care About Our Clients and Can Make Their Life Easier!</h3>
					<p>The main peculiarity of template is the striking presentation when visitors just need to use the scrolling option to find all necessary information about your web project. </p>
					</div>
					<div class="cBtn">
						<ul style="margin-top: 23px; margin-bottom: 0px; padding-left: 26px;">
							<li class="dowbload"><a href="#"><i class="fa fa-star"></i>View All Features</a></li>
							<li class="buy"><a href="#"><i class="fa fa-download"></i>Buy This Template</a></li>
						</ul>
				</div>
				</div>
			</div>
			<div class="line7">
				<div class="container">
					<div class="row footer">
						<div class="col-md-12">
							<h3>Subscribe for Our Newsletter!</h3>
							<p>Subscribe to our newsletter email to get notification about fresh news, latest promos, giveaways and free stuff from Skew. Stay always up-to-date!</p>
							<div class="fr">
							<div style="display: inline-block;">
								<input class="col-md-6 fEmail" name='Email' placeholder='Enter Your Email'/>
								<a href="#" class="subS">Subscribe!</a>
							</div>
							</div>
						</div>
						<div class="soc col-md-12">
							<ul>
								<li class="soc1"><a href="#"></a></li>
								<li class="soc2"><a href="#"></a></li>
								<li class="soc3"><a href="#"></a></li>
								<li class="soc4"><a href="#"></a></li>
								<li class="soc5"><a href="#"></a></li>
								<li class="soc6"><a href="#"></a></li>
								<li class="soc7"><a href="#"></a></li>
								<li class="soc8"><a href="#"></a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="lineBlack">
				<div class="container">
					<div class="row downLine">
						<div class="col-md-12 text-right">

							<input  id="searchPattern" type="search" placeholder="Search the Site"/><i class="glyphicon glyphicon-search" style="font-size: 13px; color:#a5a5a5;" id="iS"></i>
						</div>
						<div class="col-md-6 text-left copy">
							<p>Copyright &copy; 2014 Timber HTML Template. All Rights Reserved.</p>
						</div>
						<div class="col-md-6 text-right dm">
							<ul id="downMenu">
								<li class="active"><a href="#home">Home</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#project1">Projects</a></li>
								<li><a href="#news">News</a></li>
								<li class="last"><a href="#contact">Contact</a></li>
								<!--li><a href="#features">Features</a></li-->
							</ul>
						</div>
					</div>
				</div>
			</div>
	    </div>



		</body>

</html>
<%= link_to 'logout' , destroy_user_session_path, method: :delete %>-->
