<%= render 'layouts/header', categories: @categories%>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">


	</head>
    <body>

		<div id="wrapper" class="container">

			<section class="main-content">
				<div class="row">
					<div class="span12">
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>

								<div id="myCarousel" class="myCarousel carousel slide">
                <% @product_list.each do |product| %>
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
															<%=link_to product_detail_path(product.id) do %>
	                							 <%= image_tag product.avatar.url %>
	          									<%end%>
														<a href="product_detail" class="title"><%= product.prod_name %></a><br/>
														<p class="price"><%= product.price %></p>
													</div>
												</li> 

											</ul>
										</div>

									</div>
                  <%end%>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>


			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>

		</div>

    </body>
</html>
