<%= @product_list.inspect%>
<%= render 'layouts/header', categories: @categories%>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">

	</head>
    <body>

		<div id="wrapper" class="container">
			<section class="header_text sub">

				<h4><span>Product Detail</span></h4>
			</section>
			<section class="main-content">

				<div class="row">
					<div class="span9">
						<div class="row">
							<div class="span4">
                <%= image_tag @product_list.avatar.url %>
							</div>
							<div class="span5">
								<address>
									<strong>Product Name:</strong> <span><%= @product_list.prod_name %></span><br>
									<strong>Color:</strong> <span><%= @product_list.color %></span><br>
                  <% if @product_list.quantity > 0 %>
									  <strong>Availability:</strong> <span>On Stock</span><br>
                  <%else%>
                    <strong>Availability:</strong> <span>Out Of Stock</span><br>
                  <%end%>
								</address>
								<h4><strong>Price:<%= @product_list.price %></strong></h4>
							</div>
							<!--<div class="span5">
								<form class="form-inline">
									<label class="checkbox">
										<input type="checkbox" value=""> Option one is this and that
									</label>
									<br/>
									<label class="checkbox">
									  <input type="checkbox" value=""> Be sure to include why it's great
									</label>
									<p>&nbsp;</p>
									<label>Qty:</label>
									<input type="text" class="span1" placeholder="1">

									<button class="btn btn-primary" type="submit">Add to cart</button>
								</form>-->
								<%= form_for @order_item ,remote:true do |f| %>

									<div class="input-group">
										<%= f.number_field :quantity, value: 1, class: "form-control", min: 1 ,id:"quantity"%>
										<div class="input-group-btn">
											<%= f.hidden_field :product_id, value: @product_list.id ,id: "product_id"%>
											<%= f.submit "Add to Cart", class: "btn btn-primary" ,id: "cart" %>
										</div>
									</div>
								<% end %>
							<!--</div>-->

						</div>

					</div>

				</div>

			</section>

			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>

    </body>
</html>
<script>




 // $("#cart").click(function() {
 // 	 var product_id = $( "#product_id" ).val();
 // 	 alert(product_id)
 // 	 var quantity=$( "#quantity" ).val();
 // 	 // $( this ).val();
 // 	 // var quantity=$('form[name="frmSave"]').val();
 // 	 // $( "#myId" )
 // 	$.ajax({
 // 				url: "/order_items",
 // 				type: "POST",
 // 			 // data: {id: $(this).attr('id'), quantity: $(this).attr('quantity'), cart: $(this).attr('cart_id')}
 // 				data:'product_id='+ product_id & 'quantity='+quantity
 // 				 dataType: "script",
 //
 // 		 });
 // });
});





 </script>
