<h2>Thanks, you paid <strong><%=@order.subtotal %></strong>!</h2>
<div class="container">
<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
</div>
