<div class="container">
<%= form_tag registrations_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

  <!-- <div class="form-group">
    <%#= fo.label :full_name, "Full Name" %>
    <%#= form.text_field :full_name, class: "form-control"%>
  </div>

  <div class="form-group">
    <%#= form.label :telephone, "Telephone" %>
    <%#= form.text_field :telephone, class: "form-control"%>
  </div> -->

  <label class="amount">
      <span>Amount: <%=@order.subtotal %></span>
  </label>
</article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount:"500"
            data-locale="auto">
    </script>
  <% end %>

</div>
