
<div class="container">

  <div class="box-body">
    <div class="col-xs-8">
      <h4><%= product.prod_name %></h4>
    </div>
    <div class="span4">
      <%= image_tag product.avatar.url %>
    </div>
    <div class="col-xs-4">

      <%= form_for order_item, remote: true do |f| %>
        <h4 class="text-right">Unit Price: <span style="color: green"><%=  order_item.unit_price %></span></h4>
        <div class="row">
          <div class="col-xs-4">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= f.submit "Update Quantity",  class: "btn btn-primary" %>
              <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.prod_name}' from your cart?" }, method: :delete, remote:true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
        <h4 class="text-right">Total Price: <span style="color: green"><%=  order_item.total_price %></span></h4>
        <h4 class="text-right">SubTotal Price: <span style="color: green"><%=  @order.subtotal %></span></h4>
      <% end %>
    </div>
  </div>
   <div class="btn-group">
    <%= link_to "Submit", carts_invoicepage_path, { data: { confirm: "Are you sure you wish to submit order " }, class: "btn btn-danger" } %>
  </div>
</div>
