<!--<h3> Products under this order </h3>-->
<%#= current_order.order_items.each{ |order_item| puts order_item } %>

<%#= puts @order.order_id %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h4 class="text-center" style=" display: inline-block;"><b>Invoice</b></h4><h3 class="pull-right">Order Id:<%= @order.id%></h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong><br>
    					<h4><%= User.find(current_user.id).first_name %>   <%= User.find(current_user.id).last_name %></h4>
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
        			<strong>Shipped To:</strong><br>
    					<%= User.find(current_user.id).first_name %>   <%= User.find(current_user.id).last_name %><br>
    					1234 Main<br>
    					Apt. 4B<br>
    					Springfield, ST 54321
    				</address>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    					<strong>Registered Email:</strong><br>
    					<%= User.find(current_user.id).email %>
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Order Date:</strong><br>
    					<%=@order.created_at%><br><br>
    				</address>
    			</div>
    		</div>
    	</div>

    </div>

    <div class="row">
      <% current_order.order_items.each do |order_item| %>
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order placed on <%=@order.created_at%></strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed" >
    						<thead>
                                <tr>
        							<td><strong>Product</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
        							<td class="text-center"><strong>Quantity</strong></td>
        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
    								<td><%=Product.find(order_item.product_id).prod_name%></td>
    								<td class="text-center"><%= order_item.unit_price %></td>
    								<td class="text-center"><%= order_item.quantity %></td>
    								<td class="text-right"><%= order_item.total_price %></td>
    							</tr>

    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
        <%end%>
    </div>

    <div class="invoice-title">
      <h3 class="pull-right">SubTotal:<%= @order.subtotal%></h3>
    </div>

    <div class="row">
        <div class="col-md-12">
           <div class="col-md-4">
             <h3 class="text-center">Order Summary</h3><hr>
             <div class="pull-left"><h4>Subtotal</h4> </div>
             <div class="pull-right"><h4 class="text-right"><%= @order.subtotal%></h4></div>
             <div class="clearfix"></div>
             <div class="pull-left"><h4>Tax</h4> </div>
             <div class="pull-right"><h4 class="text-right">0.0</h4></div>
             <div class="clearfix"></div>
             <div class="pull-left"><h4>Order Total</h4> </div>
             <div class="pull-right"><h4 class="text-right"><%= @order.subtotal%></h4></div>
             <div class="clearfix"></div>
         </div>
         <div class="col-md-4 offset-md-1">
             <h3 class="text-center">Payment Type</h3><hr>
             <div class="text-center">
                 <strong>Paid by Credit Card</strong><br>
              </div>
         </div>
         <div class="col-md-4 offset-md-2">
             <h3 class="text-center">Other Info</h3><hr>
             <address>
                 <strong>Billed To:</strong><br>
                 <%= User.find(current_user.id).first_name %>   <%= User.find(current_user.id).last_name %><br>
                 1234 Main<br>
                 Apt. 4B<br>
                 Springfield, ST 54321
              </address>
         </div>
     </div>
     <div class="btn-group">
       <%= link_to "Payment", new_registration_path, { data: { confirm: "Are you sure you wish to submit order " }, class: "btn btn-danger" } %>
     </div>
</div>
