// AdminLTE 3 Variables.less
// =========================

// PATHS
// --------------------------------------------------------
$path-to-bootstrap-sass: "../../bower_components/bootstrap/scss" !default;
$boxed-layout-bg-image-path: "../img/boxed-bg.jpg" !default;
$brand-primary:             #3c8dbc !default;
$gray-lighter:              #eceeef !default;
$line-height-base: 1.5 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
// COLORS
// --------------------------------------------------------
/*
$blue: #0073b7 !default;
$black: #111 !default;
$orange: #FF851B !default;
*/
$fuchsia: #F012BE !default;
$purple: #605ca8 !default;
$maroon: #D81B60 !default;
$teal: #39CCCC !default;
$olive: #3D9970 !default;
$lime: #01FF70 !default;
$navy: #001F3F !default;
$gray-x-light: #d2d6de !default;

// TEXT
// --------------------------------------------------------
$font-size-root: 16px !default;

// LAYOUT
// --------------------------------------------------------

// Side bar and logo width
$sidebar-width: 230px !default;
// Boxed layout maximum width
$boxed-layout-max-width: 1250px !default;
// When to show the smaller logo
$screen-header-collapse: map-get($grid-breakpoints, md) !default;

// Link colors (aka: <a> tags)
$link-color: $brand-primary !default;
$link-hover-color: lighten($link-color, 15%) !default;

// Body background (Affects main content background only)
$main-bg: $gray-lighter !default;

// MAIN HEADER
// --------------------------------------------------------
$main-header-link-padding-y:  15px !default;
$main-header-link-padding-x:  15px !default;
$main-header-brand-padding-y: 12px !default;
$main-header-brand-padding-x: $main-header-brand-padding-y !default;
$main-header-height:          (($font-size-root * $line-height-base) + ($main-header-link-padding-y * 2)) !default;

// MAIN FOOTER
// --------------------------------------------------------
$main-footer-padding:          15px !default;
$main-footer-border-top-width: 2px !default;
$main-footer-border-top:       $main-footer-border-top-width solid darken($main-bg, 10%) !default;
$main-footer-height:           (($font-size-root * $line-height-base) + ($main-footer-padding * 2)) + $main-footer-border-top-width !default;

// SIDEBAR SKINS
// --------------------------------------------------------

// Dark sidebar
$sidebar-dark-bg: #2c333c !default;//#222d32 !default;
$sidebar-dark-hover-bg: darken($sidebar-dark-bg, 4%) !default;
$sidebar-dark-color: #C2C7D0!default;//lighten($sidebar-dark-bg, 60%) !default;
$sidebar-dark-hover-color: #fff !default;
$sidebar-dark-submenu-bg: lighten($sidebar-dark-bg, 5%) !default;
$sidebar-dark-submenu-color: #C2C7D0!default;//lighten($sidebar-dark-submenu-bg, 40%) !default;
$sidebar-dark-submenu-hover-color: #fff !default;

// Light sidebar
$sidebar-light-bg: #f9fafc !default;
$sidebar-light-hover-bg: lighten(#f0f0f1, 1.5%) !default;
$sidebar-light-color: #444 !default;
$sidebar-light-hover-color: #000 !default;
$sidebar-light-submenu-bg: $sidebar-light-hover-bg !default;
$sidebar-light-submenu-color: #777 !default;
$sidebar-light-submenu-hover-color: #000 !default;

// SIDEBAR MINI
// --------------------------------------------------------
$sidebar-mini-width: 55px !default;

// CONTROL SIDEBAR
// --------------------------------------------------------
$control-sidebar-width: $sidebar-width !default;

// BOXES
// --------------------------------------------------------
$box-border-color: #f4f4f4 !default;
$box-border-radius: 3px !default;
$box-footer-bg: #fff !default;
$box-boxshadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$box-padding: 10px !default;

// Box variants
$box-default-border-top-color: $gray-x-light !default;// #d2d6de !default;

// BUTTONS
// --------------------------------------------------------
$btn-boxshadow: none !default;

// PROGRESS BARS
// --------------------------------------------------------
$progress-bar-border-radius: 1px !default;
$progress-bar-sm-border-radius: 1px !default;
$progress-bar-xs-border-radius: 1px !default;



// DIRECT CHAT
// --------------------------------------------------------
$direct-chat-height: 250px !default;
$direct-chat-default-msg-bg: $gray-x-light !default;
$direct-chat-default-font-color: #444 !default;
$direct-chat-default-msg-border-color: $gray-x-light !default;

// CHAT WIDGET
// --------------------------------------------------------
$attachment-border-radius: 3px !default;

// TRANSITIONS SETTINGS
// --------------------------------------------------------

// Transition global options
$transition-speed: 0.3s !default;
$transition-fn: ease-in-out !default;
