<div class="container">
<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%#= form.label :product_id %>
    <%#= form.text_field :product_id, id: :category_product_id %>
  </div>-->

  <div class="field">
    <%= form.label :category_name , "Category Name"%>
    <%= form.text_field :category_name, id: :category_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
