
<div class="container">
  <p id="notice"><%= notice %></p>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><h1><% if current_user.has_role? :admin %>
              <%= link_to 'New Category', new_category_path %>
            <%end%></h1>
      </li>


    </ul>
  </nav>
  <h1 class="breadcrumb">
        <span>Categories</span>
  </h1>

  <!--<h1 class="box-title">Categories</h1>-->

  <div class="box-body">
  <table id="example2" class="table table-bordered table-hover">
    <thead>
      <tr>
      <!--<th>Product</th>-->
        <th>Category Name</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
    <% @categories.each do |category| %>
      <tr>
      <!--  <td><%#= category.product %></td>-->
        <td><%= category.category_name %></td>
        <% if current_user.has_role? :admin %>
        <!--  <td><%#= link_to 'Show', category %></td>
          <td><%#= link_to 'Edit', edit_category_path(category) %></td>
          <td><%#= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->

          <td><div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><%= link_to 'Show', category %></li>
                    <li><%= link_to 'Edit', edit_category_path(category) %></li>
                    <li><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div>
          </td>
        <% else%>
        <!--  <td><%#= link_to 'Show', category %></td>-->
          <td><div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><%= link_to 'Show', category %></li>
                </ul>
              </div>
          </td>
        <% end%>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
<br>
<% if current_user.has_role? :admin %>

<%else%>
  <%= link_to 'Back', root_path %>
<%end%>
<!--
<% if current_user.has_role? :admin %>
  <%= link_to 'New Category', new_category_path %>
<%end%>-->
</div>
