<div class="container">
<p id="notice"><%= notice %></p>

<!--<p>
  <strong>Product:</strong>
  <%#= @category.product %>
</p>-->

<p>
  <strong>Category Name:</strong>
  <%= @category.category_name %>
</p>

<h3> Products under this category </h3>
<% Product.where(category_id: @category.id).each do |product| %>
<li> <%= product.prod_name %> </li>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>



</div>
