<div class="container">
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.select :category_id, options_from_collection_for_select(Category.all, :id, :category_name, product.category_id), {}, class: "form-control selectpicker" %>

  </div>

  <div class="form-group">
    <%= form.label :prod_name, "Product Name" %>
    <%= form.text_field :prod_name, id: :product_prod_name , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, id: :product_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :color %>
    <%= form.text_field :color, id: :product_color, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :product_quantity ,min: 0, max: 99, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.file_field :avatar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
