<div class="container">
<p id="notice"><%= notice %></p>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><h1><% if current_user.has_role? :admin %>
              <%= link_to 'New Product', new_product_path %>
            <%end%></h1>
      </li>


    </ul>
  </nav>
  <h1 class="breadcrumb">
      <span>Products</span>
  </h1>

<div class="box-body">
<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Category</th>
      <th>Prod Name</th>
      <th>Price</th>
      <th>Color</th>
      <th>Quantity</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
      <!--  <td><%#= product.category_id %></td>-->
        <td><%= link_to Category.find(product.category_id).category_name, category_path(product.category_id) %></td>
        <td><%= product.prod_name %></td>
        <td><%= product.price %></td>
        <td><%= product.color %></td>
        <td><%= product.quantity %></td>
        <% if current_user.has_role? :admin %>
        <!--  <td><%#= link_to 'Show', product %></td>
          <td><%#= link_to 'Edit', edit_product_path(product) %></td>
          <!--<td><%#= link_to "Destroy", product, method: :delete %></td> -->
        <!--  <td><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->

          <td><div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><%= link_to 'Show', product %></li>
                    <li><%= link_to 'Edit', edit_product_path(product) %></li>
                    <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div>
          </td>

        <% else%>
          <!--<td><%#= link_to 'Show', product %></td>-->
          <td><div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><%= link_to 'Show', product %></li>
                </ul>
              </div>
          </td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user.has_role? :admin %>

<%else%>
  <%= link_to 'Back', root_path %>
<%end%>
<br>


</div>

</div>
