<div class="container">
<p id="notice"><%= notice %></p>


<div class="box-body">
  
<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Prod Name:</strong>
  <%= @product.prod_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
</div>
