<header class="main-header">
 <!-- Logo -->

   <!-- mini logo for sidebar mini 50x50 pixels -->
   <span class="logo-mini"><b>A</b>LT</span>

 </a>
 <!-- Header Navbar: style can be found in header.less -->
 <nav class="navbar navbar-static-top">
   <!-- Sidebar toggle button-->


   <div class="navbar-custom-menu">
     <ul class="nav navbar-nav">
       <!-- Messages: style can be found in dropdown.less-->
     <!--  <li class="dropdown messages-menu">  -->
       <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
         <!--  <i class="fa fa-envelope-o"></i> -->

         </a>
         <ul class="dropdown-menu">
           <li class="header">You have 4 messages</li>
           <li>
             <!-- inner menu: contains the actual data -->
             <ul class="menu">
               <li><!-- start message -->
                 <a href="#">
                   <div class="pull-left">

                       <%= image_tag('user2-160x160.jpg', :class => "img_circle", alt: "User Image") %>
                   </div>
                   <h4>
                     Support Team
                     <small><i class="fa fa-clock-o"></i> 5 mins</small>
                   </h4>

                 </a>
               </li>
               <!-- end message -->


               <li>
                 <a href="#">
                   <div class="pull-left">

                       <%= image_tag('user3-128x128.jpg', :class => "img_circle", alt: "User Image") %>

                   </div>
                   <h4>
                     Sales Department
                     <small><i class="fa fa-clock-o"></i> Yesterday</small>
                   </h4>
                   <p>Why not buy a new awesome theme?</p>
                 </a>
               </li>
               <li>
                 <a href="#">
                   <div class="pull-left">

                       <%= image_tag('user4-128x128.jpg', :class => "img_circle", alt: "User Image") %>
                   </div>
                   <h4>
                     Reviewers
                     <small><i class="fa fa-clock-o"></i> 2 days</small>
                   </h4>
                   <p>Why not buy a new awesome theme?</p>
                 </a>
               </li>
             </ul>
           </li>
           <li class="footer"><a href="#">See All Messages</a></li>
         </ul>
       </li>


       <!-- User Account: style can be found in dropdown.less -->
       <li class="dropdown user user-menu">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           <%= image_tag('user2-160x160.jpg', :class => "user-image", alt: "User Image") %>
           <span class="hidden-xs">Rahul Modi</span>
         </a>
         <ul class="dropdown-menu">
           <!-- User image -->
           <li class="user-header">

               <%= image_tag('user2-160x160.jpg', :class => "img_circle", alt: "User Image") %>

             <p>
               Rahul Modi - Web Developer
               <small>Member since Nov. 2012</small>
             </p>
           </li>
           <!-- Menu Body -->

           <!-- Menu Footer-->
           <li class="user-footer">
             <div class="pull-right">
               <%= link_to "Sign out",destroy_user_session_path, method: :delete %>
             </div>
           </li>
         </ul>
       </li>
       <!-- Control Sidebar Toggle Button -->
       <li>
         <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
       </li>
     </ul>
   </div>
 </nav>
</header>
