<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Rahul Modi</p>
        <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">

      <li class="header">MAIN NAVIGATION</li>
      <% if current_user.has_role? :admin %>
        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
      <%end%>
        <li><%= link_to "Products",products_path , :class => 'navbar-link'  %></li>
        <li><%= link_to "Categories",categories_path , :class => 'navbar-link'  %></li>
      <!--  <li><%#= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>-->

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
