<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Project app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <%= puts current_user%>
        <!--<%# if user_signed_in? %>-->
        <% if current_user %>
          <% if current_user.has_role? :admin %>
            Logged in as <strong><%= current_user.email %></strong>.
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li> |
            <li><%= link_to "Products",products_path , :class => 'navbar-link'  %></li>
            <li><%= link_to "Categories",categories_path , :class => 'navbar-link'  %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else%>
        <!--<li><%#= link_to "Products",products_path , :class => 'navbar-link'  %></li>
            <li><%#= link_to "Categories",categories_path , :class => 'navbar-link'  %></li>-->
            <% categories.each do |category| %>
                <li><%=link_to category.category_name,list_products_path(category.id)%></li>
            <% end %>
            <!--<li><%#= link_to "My Store", products_path %></li>-->
            <li><h4 class="cart-text"><%= render 'layouts/cart_text'%></h4></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li> |
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
