<%= render 'layouts/header' %>
<div class="container">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control", placeholder: "First_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name,class: "form-control", placeholder: "Last_name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: false ,class: "form-control", placeholder: "Email"%>
  </div>

  <div class="field">
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no, autofocus: false,class: "form-control", placeholder: "Phone_no" %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control", placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "form-control", placeholder: "Password_confirmation"%>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Sign up",class: "form-control" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
